.img-responsive{
  width:300px;
  height:350px;
}

.details{
  margin-left: 100px;
}

.details2{
  margin-left: 100px;
}

.button{
  margin-top:20px;
  margin-bottom:20px;

}

.select{
  width:20px;
}
