<!--<div class="page-top " style="width: 100%; height: 50px; background-color: #f46b42;"></div>-->
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/home" routerLinkActive="active"><h2>Order Management System</h2></button>
      <span class="example-spacer"></span>
      <li type="none" ><button mat-button routerLink="/bookList" routerLinkActive="active">ITEMS</button></li>
      <li type="none" *ngIf="!loggedIn"><button mat-button routerLink="/myAccount" routerLinkActive="active">MY ACCOUNT</button></li>
      <li type="none" *ngIf="loggedIn"><button mat-button [matMenuTriggerFor]="menu">MENU</button></li>
      <mat-menu #menu="matMenu">
        <button *ngIf="loggedIn" mat-menu-item routerLink="/shoppingCart" routerLinkActive="active">SHOPPING CART</button>
        <button *ngIf="loggedIn" mat-menu-item routerLink="/myProfile" routerLinkActive="active">MY PROFILE</button>
        <button *ngIf="loggedIn" mat-menu-item (click)="logout()">LOGOUT</button>
      </mat-menu>

    </mat-toolbar-row>

    <mat-toolbar-row>
      <span></span>
      <span class="example-spacer"></span>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-left">

          <form (ngSubmit)="onSearchByTitle()" class="navbar-form" method="post">
            <div class="form-group">
              <input type="text" name="searcyByTitle" [(ngModel)]="keyword" class="form-control" placeholder="Book title" />
            </div>
            <button mat-flat-button color="primary">Search</button>
          </form>
        </ul>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
